<h1> My bookings </h1>


<h2> Pending my review </h2>

<ul>
  <% @pending_bookings.each do |booking| %>

  <li><%= booking.piece_of_art.name %> - Start date <%= booking.start_date %> End date <%= booking.end_date %></li>
<%= raise %>
  <% end %>

</ul>

<h2> currently booked </h2>

<h2> Past bookings </h2>
