<h1> My bookings </h1>


<h2> Pending my review </h2>

<ul>
  <% @pending_bookings.each do |booking| %>

  <li><%= booking.piece_of_art.name %> - Start date <%= booking.start_date %> End date <%= booking.end_date %>

  <form action="/booking/'#{booking.id}'" > <input type="submit" class="btn btn-primary" value="Approve" name="Approve" onClick="">

  </form>
  </li>

  <% end %>

</ul>

<h2> Currently booked </h2>

<h2> Past bookings </h2>
