
<%= render 'shared/banner-search' %>

<div class="row">
  <h3>Les plus appréciés</h3>
</div>
<div class="row">
  <%= render 'shared/swiper' %>
</div>
<div class="row">
  <h3>Les nouveautés</h3>
</div>
<div class="row">
  <%= render 'shared/swiper' %>
</div>
<div class="row">
  <h3>Celles qui pourraient vous plaire </h3>
</div>
<div class="row">
  <%= render 'shared/swiper' %>
</div>

