<!-- Slider main container -->
<div class="carrousel-container">
  <div class="swiper-container swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card-product mr-5">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Piece of art name</h2>
            <p>Category and price</p>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-slide"> -->
        <div class="card-product mr-5">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2>Piece of art name</h2>
            <p>ARTIST</p>
          </div>
        </div>
      <!-- </div> -->
    </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


