.btn-empty {
    color: $main-text;
    border-color: $main-text;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 24px;
      &:hover {
        color: white;
        background-color: $main-text;
        border-color: $main-text;
        a {
          color: white;
          text-decoration: none;
        }
      }
    a {
      color: $main-text;
    }
}


.btn-full {
  color: white;
  background-color: $main-text;
  border-color: $main-text;
  border-radius: 4px;
  padding: 8px 24px;
    &:hover {
          color: $main-text;
          background-color: #FFFFFF;
        }
}


.btn-search {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
    &:hover {
      background: #1BCB7F;
      color: white;
    }
}

