.btn-empty {
    color: $btn-full;
    border-color: $btn-full;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 8px;
      &:hover {
        color: white;
        background-color: $btn-full;
        border-color: $btn-full;
        a {
          color: white;
          text-decoration: none;
        }
      }
    a {
      color: $btn-full;
    }
}


.btn-full {
  color: white;
  background-color: $btn-full;
  border-color: $btn-full;
  border-radius: 4px;
  padding: 8px 24px;
    &:hover {
          color: $btn-full;
          background-color: #FFFFFF;
        }
}


.btn-search {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
    &:hover {
      background: #1BCB7F;
      color: white;
    }
}
#book-now-show-poa {
  position:absolute;
  left: 8em; bottom: 0em;
  z-index: 5;
  opacity: 1;

}
#booking-submit-button {
  position: fixed;
  right: 15px;
  top: 90vh;
}
#start_date {
  width: 70%;
  margin: 2px;
}
#end_date {
  width: 70%;
  margin: 2px;
}
