
.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-search {

  color: $main-text;
  background-size: cover;
  padding: 32px;
  border-radius: 4px;
  opacity: 0.9;
  width: 100vw;
    #slogan {
      color: $light-gray;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2),
                   1px 1px 3px rgba(0,0,0,0.2),
                   1px 1px 3px rgba(0,0,0,0.2),
                   1px 1px 3px rgba(0,0,0,0.2);
    }
  .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
  }
  select {
    color: #495057c7;
  }

}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-left: 10px;
}

.card-show-poa {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12);
              // 0 8px 8px rgba(0,0,0,0.12),
              // 0 16px 16px rgba(0,0,0,0.12);
  display:flex;
  flex-direction:column;

}

.card-picture {
  background-position: center;
  background-size: cover;
  color: $main-text;
  padding: 32px;
  border-radius: 4px;
  opacity: 0.9;
  min-height: 200px;


}

.card-description {
  background: $main-color;
  color: $main-text;
  padding: 32px;
  border-radius: 4px;
  opacity: 0.9;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
}
