.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $light-gray;
   // position: fixed-top;
   // // top: 0;
   // z-index: 999;
  a {
    color: #402D2D;
  }
  .dropdown-menu {
    transform: translate3d(-106px, 48px, 0px) !important;
  }
}



.nav-bar-side {
  // min-width: 30px;
  width: 25vw;

}

// .nav-bar .nav-bar-collapse {
//   flex-grow: 0;
// }

.nav-bar-expand-sm {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
}


.moving-letters {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.moving-letters .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.moving-letters .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.moving-letters .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.moving-letters .letters {
  display: inline-block;
  opacity: 0;
}

//----------- responsive -------------//
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .nav-bar {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .nav-bar {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-bar {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-bar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .nav-bar {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
